// Colors
$primary-color: #000;
$secondary-color: #f5a263;
$background-color: #eef3f5;
$white: #fff;
$hover-color: #a74f0c;
$accent-color: #c88509;
$text-color: #000;
$border-color: #000;

// Spacing
$section-padding: 3rem;
$container-max-width: 90%;
$nav-gap: 3rem;

// Typography
$base-font: "Arial", sans-serif;
$heading-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
